<!-- Footer -->
<footer class="bg-primary text-white text-center text-lg-start">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>We will soon connect on social networks: PRAVEEN</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-shipping-fast"></i>&nbsp;PRAVEEN Flipkart Clone
            </h6>
            <p>
              Flipkart clone website created using Angular 16 and bootstrap 5 technologies.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
             Tech Stacks used:
            </h6>
            <p>Angular 16</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>Bootstrap 5.0.2</p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="./products" class="text-reset">All products</a>
            </p>
            <p>
              <a href="./products" class="text-reset">Shop Now</a>
            </p>
            <p>
              <a href="./cart" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Delhi, India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              cloneflipkart@clone.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 02 555 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 02 555 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="" target="_blank">Praveen</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->