
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filterCatgry(' ')">
                <img class="allproduct" src="../../../assets/all-products.jpeg" alt="">
                <h6 >All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterCatgry('electronics')">
                <img src="../../../assets/electronics.jpg" alt="">
                <h6 >Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterCatgry('fashion')">
                <img src="../../../assets/fashion.jpg" alt="">
                <h6 >Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filterCatgry('jewelery')">
                <img style="width: 62px; margin-top: 5px;" src="../../../assets/jwellery.jpg" alt="">
                <h6 >Jewellery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100ch">{{item.title}}</h5>
                <p style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:100ch">{{item.description}}</p>
                <p><strong>Price:</strong>${{item.price}}</p>
                <button class="btn btn-primary " (click)=addToCart(item)><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Add to cart</button>
               
            </div>
        </ng-container>
     </div>
</div>